{% extends "node.html.twig" %}
{% block content %}
  <div class="row top-fields">
    <div class="col-sm-6">
      <div class="row">
        <div class="field--label col-sm-3">{{ content.field_cms_event_location['#title'] }}</div>
        <div class="field--item col-sm-9">{{ content.field_cms_event_location }}</div>
      </div>
    </div>
    {% if rng_remaining_capacity %}
    <div class="col-sm-6">
      <div class="row">
        <div class="field--label col-sm-3">{{ content.field_cms_event_date_temporary['#title'] }}</div>
        <div class="field--item col-sm-9">{{ content.field_cms_event_date_temporary }}</div>
      </div>
    </div>
    {% endif %}
  </div>
  {{ content|without('flippy_pager', 'field_cms_event_location', 'field_cms_event_date', 'field_cms_event_date_temporary', 'rng_capacity') }}
{% endblock %}